<form action="/admin/add" method= "POST" class="form" >
    <h2> Add question</h2>
    <br>
<input type="text" name="question" class="form__input__text" placeholder="Enter question">
<br>
<input type="text" name="choose1" class="form__input__text" placeholder="Enter answer1">
<br>
<input type="text" name ="choose2" class="form__input__text"  placeholder="Enter answer2">
<br>
<input type="text" name="correct" class="form__input__text" placeholder="Enter answer3">
    
 <br>

<input type="submit" value="add" class="form__input__submit">
</form>