<head>
    <link rel="stylesheet" href="css/auth.css">
    
   
</head>

<div class="card-edit-profile">
    <div class="content-edit-profile">

        <form action="/profile/edit" method= "POST" class="form" enctype="multipart/form-data" >
            <h2> Edit Your account</h2>
            <br>
        <input type="text" name="name" class="form__input__text" placeholder="Enter your name" value="<%= result.name %>">
        <br>

        <a href="/edit/Password"> Edit password</a>
        <br>

        <input id ="profileImage" name="image" type="file" class="form__input__text" >
        <br>

        <% result.favoriteTeams.forEach(team => { %>
    
            <form>
                <h6> <%= team %> </h6> <h6>  </h6>
                <input type="submit" value="Delete" class="form__input__submit">
            </form>
    
            <% }) %>
            <br>

            <input type="submit" value="Save changes" class="form__input__submit">

        </form>
    </div>

</div>
   

 
</div>