<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>
<div class="form_conianer">
    <form action="/profile/edit/delete" method= "POST" class="form">
        <h2> Edit Your account</h2>
    <input type="text" name="name" class="form__input__text" placeholder="Enter your name" value="<%= result.name %>">
    <a href="/edit/Password"> Edit password</a>
    <input id ="profileImage" name ="image" type="file" class="form__input__text" >
    <% result.favoriteTeams.forEach(team => { %>

        <form method="POST" action="/profile/edit/delete?id=<%= team._id %>&_method=DELETE">
            <h3><%= team %></h3>
            <button class="btn btn-outline-secondary" type="submit">Delete</button>
        </form>

        <% }) %>
        <input type="submit" value="Save changes" class="form__input__submit">
    </form>

 
</div>