<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>
<div class="form_conianer">
    <form action="/edit/password" method="POST" class="form">
        <h2> Change password</h2>
    <input type="password" name="password_old" class="form__input__text"  placeholder="Enter your old password">
    <input type="password" name="password_new" class="form__input__text"  placeholder="Enter your new password">
    <input type="password" name="password_varify" class="form__input__text"  placeholder="Re-enter your new password">

    <input type="submit" value="Update password" class="form__input__submit">
    </form>

    
</div>