<style>
h1{
  margin-top:100px;
}
#matchesNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>


<img src="https://pbs.twimg.com/media/DlXTl5QUwAAQJfc.jpg" width="100px" alt="#1player">
<div id="matchesNav" >
<nav>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home/previous">Previouse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/last">Last Week</a>
        </li>
   
        <li class="nav-item">
          <a class="nav-link" href="/home/current">Today</a>
        </li>
   
        <li class="nav-item">
          <a class="nav-link" href="/home/next">Next Week</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/upcoming">Upcoming</a>
        </li>
      </ul>
    </nav>

</div>