<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>
<div class="form_conianer">
    <form action="/auth/signin" method="POST" class="form">
        <h2> Login to Your account</h2>
    <input type="email" name="emailAddress" class="form__input__text" placeholder="Enter your email">
    <input type="password" name="password" class="form__input__text"  placeholder="Enter your password">

    <input type="submit" value="Sing In" class="form__input__submit">
    </form>


    <p>Create a new account? </p> <br>
    <a href="/auth/signup"> Sign Up</a>
    
</div>