<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>

<div class="card-auth">

    <div class="content-auth">

        
<div class="form_conianer">
    <form action="/auth/signin" method="POST" class="form">
        <h2> Login to Your account</h2>
        <br>
    <input type="email" name="emailAddress" class="form__input__text" placeholder="Enter your email">
    <input type="password" name="password" class="form__input__text"  placeholder="Enter your password">
    <br>    <br>
    

    <input type="submit" value="Sing In" class="form__input__submit">
    <br>    <br>

    </form>


    <p>Create a new account? </p>
    <a href="/auth/signup"> Sign Up</a>
    
</div>


    </div>
</div>