

<div class="card" style="width: 18rem;">
    <div class="row">
    
        <div class="column">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"></h5>
        </div>
    
    </div>

    <div class="column">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"></h5>
        </div>
    </div>
   
</div>
<p class="card-text"></p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Time:  </li>
      <li class="list-group-item">Time:  </li>
      <li class="list-group-item">Referee:  </li>
      <li class="list-group-item"></li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Another link</a>
    </div>
    
  
  
    <button id= "voteBtn" type="submit">Vote</button>

    
  </div>