<h1>from index</h1>
<div class="card" style="width: 18rem;">
    <div class="row">
    
        <div class="column">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    
    </div>

    <div class="column">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
    </div>
    
</div>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">tiem: </li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Another link</a>
    </div>

    <button type="submit">Vote</button>
  </div>