<head>
    <link rel="stylesheet" href="css/auth.css">

    <script>function change(value){document.getElementById("vote").value= value;}</script>

</head>
<div class="form_conianer">
    <form action="/vote" method="POST" class="form">
        <h2> Vote</h2>
    <input type="text" name="matchID" class="form__input__text" placeholder="Enter match id">
    <input type="text" id= "vote" name="vote" class="form__input__text"  hidden="hidden">

    <input onclick="change('tie')" type="submit" value="tie" class="form__input__submit">
    <input onclick="change('home')"type="submit" value="home" class="form__input__submit">
    <input onclick="change('away')" type="submit" value="away" class="form__input__submit">
    </form>


    
</div>