<style>
    h1{
        color: white
    }
</style>





    <h1><%=question %></h1>
    <br>
    
    <button ><%=choices[0] %></button>
    <br>
    
    <button   ><%=choices[1] %></button>
    <br>
    
    <button  ><%=choices[2] %></button>


