<style>
    h1{
        color: white
    }
</style>





    <h1><%=question %></h1>
    <br>
    
    <button onClick="'<% checkAnswer(choices[0] , correct )%>'"><%=choices[0] %></button>
    <br>
    
    <button  onClick="'<% checkAnswer(choices[1] , correct )%>'" ><%=choices[1] %></button>
    <br>
    
    <button  onClick="'<% checkAnswer(choices[2] , correct )%>'"><%=choices[2] %></button>


