<style>
    h1{
        color: white
    }
</style>
<%  let counter = 0   %>


    <% let random1 = Math.floor(Math.random() * 10);%>


    <h1><%=quizzes[random1].question %></h1>
    <br>
    
    <button class="quizBtn" onclick="'<% myFunction(quizzes[random1].correct,quizzes[random1].choose1) %>'"><%=quizzes[random1].choose1 %></button>
    <br>
    
    <button class="quizBtn" onclick="'<% myFunction(quizzes[random1].correct,quizzes[random1].choose2) %>'"><%=quizzes[random1].choose2 %></button>
    <br>
    
    <button class="quizBtn" onclick="'<% myFunction(quizzes[random1].correct,quizzes[random1].correct) %>'"><%=quizzes[random1].correct %></button>


    
    <%function myFunction(bestAnswer, current) { %>
    
      <% if (bestAnswer == current) { %>
        <% //console.log("first if "+counter) %>
  
           <% if (counter < 1) { %>
               <% console.log("second if "+counter)  %>
                <% counter ++ %>
                <% random1 = Math.floor(Math.random() * 10);%>
               <script>  document.querySelector(".quizBtn").innerText="hhhhhh" </script>
           <%} else { %>
            <%console.log("correct"); }} }%>
   



<script>
    function check(answer) {
      alert("Iam in check answer"+ answer);
   }
   
   </script>
   
   
   
   